{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="../static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/about_us.css">
{% endblock %}

{% block content_title %}
   О нас
{% endblock %}

{% block content %}
    <div class="content">
   <div>
   <p style="font-size: 18px">
       Это основной источник получения пограничниками актуальной информации об общественной деятельности Объединения пограничников Рыбинска и района.</p>
       <p><span style="font-size: 18px;">Наши цели:</span><ul style="font-size:18px">
       <li>сохранение исторической памяти и традиций пограничных войск</li>
       <li>защита прав и интересов ветеранов (пенсионеров) Пограничной Службы,
обеспечения их достойного положения в обществе</li>
<li>повышение значимости ветеранского движения в интересах охраны Государственной
границы РФ</li>
<li>воспитание будущих военнослужащих из числа допризывной молодежи в духе любви к Родине и стремления к надежной защите ее границ</li>
 <li>взаимодействие с общественными организациями ветеранов-пограничников</li>
</ul>
</p>

        </div>
    </div>
{% endblock %}