{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="../static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/about_us.css">
{% endblock %}

{% block content_title %}
   О нас
{% endblock %}

{% block content %}
    <div class="content">
    <div>
   <p style="font-size: 18px">
       Среди жителей гор.Рыбинска и Рыбинского района Ярославской области,
       огромное количество Пограничников запаса, которые исполняли свой интернациональный долг
       "За речкой" в Афганистане, являются участниками Боевых действий на Таджикско - Афганской Границы,
       Северного Кавказа, есть среди них те, кто помнит события на острове Доманский в марте 1969,
       в ходе международного конфликта СССР и КНР. Все мы служили в разных Красно-Знаменных Пограничных Округах,
       в разных отрядах, на разных заставах. Но только Нам известно,
       на что способен Пограничник, даже если один он в поле воин, Мы знаем цену пограничной солдатской дружбы
   </p>
        </div>
    <p style="margin-left: 20px"><img style="width: 98%" src="../static/images/cuIR59nR6OE.jpg" alt="Фото памятного пограничного знака"></p>
    </div>
{% endblock %}