<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Пограничиники Рыбинска
    </title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    {%block links%}
    {%endblock%}
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
           <div class="col-12 h_image">

               <img src="../static/images/header.jpg">
           </div>
        </div>
        <div class="row">
        <div class="col-12">
            <ul class="nav">
                <li><a class="navan" href="{{ url_for('index') }}">Новости</a></li>
                <li><a class="navan" href="{{url_for('alerts')}}">Объявления</a></li>
                <li><a class="navan" href="{{ url_for('about') }}">О нас</a></li>
                <li><a class="navan" href="{{ url_for('contacts') }}">Контакты</a></li>
                <li>
                    <form method="POST" action="{{url_for('index')}}">
                        <input type="text" name="query">
                        <input type="submit" value="Поиск">
                    </form>
                    {%if not current_user.is_authenticated%}
                    <a href="/login" class="enter">Войти как редактор</a>
                    {%endif%}
                    {%if current_user.is_authenticated%}
                    <a href="/logout" class="enter">Выход</a>
                    {%endif%}
                </li>
            </ul>
        </div>
    </div>
    </div>
</header>
<section>
    <div class="container-fluid">
       <div class="row">
           <div class="col-sm-9 col-xs-12">
           <h2 >
               {%block content_title%}
               {%endblock%}
           </h2>
               </div>
       </div>
        <div class="row cont">
            <div class="col-sm-9 col-xs-12">
                {%block content%}
                {%endblock%}
             </div>
            <div class="col-sm-3 col-xs-0 menu">
                {%if current_user.is_authenticated%}
                    <div class="moder_menu" style="overflow: hidden; width: 96%">
                        <h3>Меню редактора</h3>
                        <a href="{{url_for('create_post')}}">Написать новость   >></a><br>
                        <a href="{{url_for('red_posts')}}">Редактировать новость >></a><br>
                        <a href="{{url_for('create_alert')}}">Написать объявление >></a><br>
                         <a href="{{url_for('alerts')}}">Удалить объявление    >></a>
                    </div>

                {%endif%}
                {%if current_user.is_authenticated and (last_post or last_alert)%}
                <div class="info_menu_auth" style="overflow:hidden;">
                    <h3>Последние изменения</h3>
                    {% if last_post %}
                    <a href="url_for('index')"><strong>Новости >></strong></a>
                    <p>Обновлены - {{weekDays[last_post.created.weekday()]}}
                        {{last_post.created.day}}
                        {{months[(last_post.created.month) - 1]}} в
                        {{last_post.created.strftime("%H:%M")}}</p>
                            {% endif %}
                    {% if last_alert %}
                    <a href="url_for('alerts')"><strong>Объявления >></strong></a>
                    <p>Обновлены - {{weekDays[last_alert.created.weekday()]}}
                        {{last_alert.created.day}}
                        {{months[(last_alert.created.month) - 1]}} в
                        {{last_alert.created.strftime("%H:%M")}}</p>
                        {% endif %}
                </div>
                {%endif%}
                {%if not current_user.is_authenticated  and (last_post or last_alert)%}
                    <div class="info_menu" style="overflow:hidden;">
                    <h3>Последние изменения</h3>
                        {% if last_post %}
                    <a href="url_for('index')"><strong>Новости >></strong></a>
                    <p>Обновлены - {{weekDays[last_post.created.weekday()]}}
                        {{last_post.created.day}}
                        {{months[(last_post.created.month) - 1]}} в
                        {{last_post.created.strftime("%H:%M")}}</p>
                            {% endif %}
                    {% if last_alert %}
                    <a href="url_for('alerts')"><strong>Объявления >></strong></a>
                    <p>Обновлены - {{weekDays[last_alert.created.weekday()]}}
                        {{last_alert.created.day}}
                        {{months[(last_alert.created.month) - 1]}} в
                        {{last_alert.created.strftime("%H:%M")}}</p>
                        {% endif %}
                </div>
                {%endif%}
                  <br>


                {%block right_content%}

                {%endblock%}
             <style>
                    @media (max-width: 568px) {
                      .calen {display: none;}
                      .info_menu {width: 100%;}
                      .info_menu_auth {width: 100%;}
                      .nav li{width:25%; display:flex;}
                      .navan{width:100%; font-size:16px;}
                      .nav {flex-wrap:wrap;}
                      .enter{display:none;}
                      .vk{width: 100%}
                    }
                </style>
                <div class="vk" style="text-align:center;">
                    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3, width: "auto"}, 73136377);
</script>
                </div>
                <br>
                <iframe class="calen" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%2381b65c&amp;ctz=Europe%2FMoscow&amp;title=%D0%9A%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80%D1%8C&amp;showPrint=0&amp;showCalendars=0&amp;showNav=0&amp;showTitle=0&amp;showTabs=0&amp;showTz=0&amp;showDate=1" style="border:solid 1px #777" width="97%" height="200" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>
{%block scripts%}
{%endblock%}
</body>
</html>