<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {%block title%}
        {%endblock%}
    </title>
    {%block links%}
    {%endblock%}
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
           <div class="col-12 h_image">

               <img src="../static/images/header.jpg">
           </div>
        </div>
        <div class="row">
            <div class="col-12">
            <ul class="nav">
                <li><a class="navan" href="/">Новости</a></li>
                <li><a class="navan" href="{{url_for('alerts')}}">Объявления</a></li>
                <li><a class="navan" href="">О нас</a></li>
                <li><a class="navan" href="">Контакты</a></li>
                <li>
                    <form method="POST" action="{{url_for('index')}}">
                        <input type="text" name="query">
                        <input type="submit" value="Поиск">
                    </form>
                    <br>
                    {%if not current_user.is_authenticated%}
                    <a href="/login">Войти как редактор</a>
                    {%endif%}
                    {%if current_user.is_authenticated%}
                    <a href="/logout">Выход</a>
                    {%endif%}
                </li>
            </ul>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid">
       <div class="row">
           <div class="col-9">
           <h2 >
               {%block content_title%}
               {%endblock%}
           </h2>
               </div>
       </div>
        <div class="row cont">
            <div class="col-9">
                {%block content%}
                {%endblock%}
             </div>
            <div class="col-3 menu">
                {%if current_user.is_authenticated%}
                    <div class="moder_menu" style="overflow: hidden">
                        <h3>Меню редактора</h3>
                        <a href="{{url_for('create_post')}}">Написать новость >></a><br>
                        <a href="{{url_for('red_posts')}}">Редактировать новость >></a><br>
                        <a href="{{url_for('create_alert')}}">Написать объявление >></a><br>
                         <a href="{{url_for('alerts')}}">Удалить объявление >></a>
                    </div>
                {%endif%}
                {%if current_user.is_authenticated and last_post and last_alert%}
                <div class="info_menu_auth" style="overflow:hidden">
                    <h3>Последние изменения</h3>
                    <a href="url_for('index')"><strong>Новости >></strong></a>
                    <p>Обновлены - {{weekDays[last_post.created.weekday()]}}
                        {{last_post.created.day}}
                        {{months[(last_post.created.month) - 1]}} в
                        {{last_post.created.strftime("%H:%M")}}</p>
                    <a href="url_for('alerts')"><strong>Объявления >></strong></a>
                    <p>Обновлены - {{weekDays[last_alert.created.weekday()]}}
                        {{last_alert.created.day}}
                        {{months[(last_alert.created.month) - 1]}} в
                        {{last_alert.created.strftime("%H:%M")}}</p>
                </div>
                {%endif%}
                {%if not current_user.is_authenticated and last_post and last_alert%}
                    <div class="info_menu" style="overflow:hidden">
                    <h3>Последние изменения</h3>
                    <a href="url_for('index')"><strong>Новости >></strong></a>
                    <p>Обновлены - {{weekDays[last_post.created.weekday()]}}
                        {{last_post.created.day}}
                        {{months[(last_post.created.month) - 1]}} в
                        {{last_post.created.strftime("%H:%M")}}</p>
                    <a href="url_for('alerts')"><strong>Объявления >></strong></a>
                    <p>Обновлены - {{weekDays[last_alert.created.weekday()]}}
                        {{last_alert.created.day}}
                        {{months[(last_alert.created.month) - 1]}} в
                        {{last_alert.created.strftime("%H:%M")}}</p>
                </div>
                {%endif%}


                {%block right_content%}
                {%endblock%}
            </div>
        </div>
    </div>
</section>
{%block scripts%}
{%endblock%}
</body>
</html>