{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="../static/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/contacts.css">
{% endblock %}

{% block content_title %}
    Контакты
{% endblock %}

{% block content %}
    <div class="content">
    <div>
        <p><span style="font-size: 18px; text-decoration: underline">Иванов Игорь Александрович</span><br> <br>Председатель Региональной Общественной Организации Ветеранов Пограничных Войск <strong>"ПОГРАНИЧНАЯ ЗАСТАВА - РЫБИНСК".</strong>
    <br> Майор ФПС ФСБ РФ. <br>  тел. 8-980-744-01-00 <br>тел. 8-915-984-01-11</p>
        </div>
    <div>
        <p><span style="font-size: 18px; text-decoration: underline">Захаров Владимир Леонидович</span><br> <br>Редактор, секретарь: член Совета РОО ВП <strong>"ПОГРАНИЧНАЯ ЗАСТАВА - РЫБИНСК".</strong>
            <br> тел. 8-910-814-94-30</p>
    </div>
    <div>
        <span style="font-size: 18px; text-decoration: underline">Сообщество вконтакте</span><br><br>
        <a href="https://vk.com/public73136377" style="text-decoration:none; color: black;">Погранзастава - Рыбинск>></a>
    </div>
    </div>
{% endblock %}